body { background-color:#aaa; font-family: Helvetica, Arial, sans-serif; font-size: 1em; margin:0; padding:0; }
#container {width: 100%; min-width: 400px; max-width: 1200px; background-color:#f4f4f4; margin: 0 auto 0 auto; padding: 0px 0 10px 0;}
#topbar {width: 90%; min-width: 360px; max-width: 1080px; height: 40px; background-color:#ccc; margin: 0 auto 0 0; padding: 20px 5% 10px 5%; border-bottom:solid 1px #666;}
#controller {width: 100%; min-width: 400px; max-width: 768px; background-color:#fff; border:solid 1px #666; margin: -1px 0 0 0; padding: 0px 0 10px 0; }
#hidefeedslistbtn {margin-left:10px;}
a {color:#246; font-weight: bold; text-decoration: none;}
a:hover {text-decoration: none;}
#list_name {margin-left:10px;font-size:24px;font-weight:bold;color:#284799;}
#mh {color:#1D336F;}
#rss {color:#DD9036;}
h4 {font-size: 1.2em; font-weight: bold; margin-top: 0;}
#instructions_div {margin: 40px 0 10px 0; padding: 10px; background-color:#f4f4f4; background-color:#CCD7F2; display: none;}
#main {width: 90%; margin: 0 auto; padding: 10px 10px 30px 10px;}
#feed_control_div {width: 90%; margin: 0 auto; padding: 15px 10px 15px 10px;}
#feeds_form_div {margin: 40px 0 0px 0; padding: 10px; background-color:#BFCCEE; background-color:#CCD7F2; display: none;}
#instructions_btn, #showform_btn, #submit_feed, #reset_btn, #add_btn, #clear_feeds, #all_feeds, #update_feeds {width: 8em; background-color:#246; background-color:#1D336F; color: white; float:right; border: none; margin: -5px 0 20px 0; padding: 6px;}
#topbtns {margin: -40px 0 10px 10px; width:85%; float:right;}
#instructions_btn {width: 8em; float:right;}
#showform_btn, #all_feeds, #clear_feeds {width: 8em; margin-left: 10px;}
#submit_feed {margin: 10px 0 20px 0;}
#update_feeds {margin: 0 0 20px 0;}
#reset_btn, #add_btn {margin: 10px 10px 20px 0;}
#all_feeds, #clear_feeds {margin: 0 10px 20px 0;}
#closeinstr_btn, #closeform_btn {float:right; border: none; margin: 0px 0 0 0; }
#to_top, #top_feeds {float:right; border: none; }
#instructions_btn:hover, #showform_btn:hover, #submit_feed:hover, #reset_btn:hover, #add_btn:hover, #clear_feeds:hover, #all_feeds:hover, #update_feeds:hover {background-color:#333;}
.note, .formlabel, .rss_small {clear:both; font-size: .85em;}
.editbtn, .deletebtn {float:right; margin-left: 10px;}
.morebtn {width: 2.5em; height: 2em; background-color: #aaa; color: black; border: none;}
.editbtn img {width: 17px; height: 15px;}
.deletebtn img {width: 12px; height: 12px;}
.includedyes img {width: 16px; height: 14px; margin-right: 20px;}
.includedno img {width: 14px; height: 14px; margin-right: 22px;}
.morebtn:hover {background-color: #999;}
#feedslisting {clear: both; margin: -10px 0 30px 0;}
.feedlist {border-top: 1px solid #DD9036; padding-top: 10px;}
#feed_name, #feed_site {width: 99%; height: 1.75em; border: 1px solid #1D336F;}
.title {color:#284799;}
.title:hover {color:#DD9036;}
.title:active {color:#DD9036;}
.feedurl {display: none;}
.rssshort {display: block;}
.rssall {display: block;}
#rss-feeds {clear:both; margin-top: 60px; margin-bottom: 10px;}
#searchfeed_div {float:right; margin:0 0 30px 0px; width: 90%; text-align:right;}
#searchdates {float:right; margin-right: 410px;}
#searchfromdate, #searchtodate {width: 100px; height:24px;}
#searchtodate {margin-left:10px;}
#searchword {float:right; margin-top:-30px;}
#searchinput {width: 320px; height:30px;}
#searchbtn img {width:18px; height:18px;}
#resetsearch img {width:18px; height:18px;}
button{border: none; box-shadow: none; background:transparent;}
#showfeedslistbtn {float:left;}
#showfeedslistbtn img {width:20px;height:18px;}
.flipimg {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";            
}
.lishow {display:block;}
.lihide {display:none;}


#feedslistingdiv {
  background-color: transparent;
  z-index:-2000;
  position:absolute;
  margin-top:0;
  width: 100%;
  min-width: 402px;
  max-width: 770px;
  overflow: hidden;
}

.slide {
  border: 1px solid rgba(153, 153, 153, .7);
  background-color: rgba(204, 204, 204, .3);
  padding: 5px;
  transition: .5s cubic-bezier(0, 1, 0.5, 1);
  transform: translateY(0);
}

.slide-up {
  transform: translateY(-100%);
}



@media all and (min-width:1020px) {
    #searchdates {margin-right: 490px;}
    #searchinput {width: 400px;}
}

@media all and (min-width:920px) and (max-width:1019px) {
    #searchdates {margin-right: 490px;}
    #searchinput {width: 400px;}
}
@media all and (min-width:769px) and (max-width:919px) {
    #searchdates {margin-right: 360px;}
    #searchinput {width: 270px;}
}

@media all and (min-width:769px) {
    #topbar {height: 40px;}
}

@media all and (max-width:768px) {
    #topbar {height: 90px;}
    #searchdates {float:right; margin-right: 72px;}
    #searchword {margin-top:20px;}
}

@media all and (min-width:640px) and (max-width:768px) {
    #searchinput {width: 400px;}
}

@media all and (min-width:520px) and (max-width:639px) {
    #searchinput {width: 320px;}
}

@media all and (min-width:480px) and (max-width:519px) {
    #searchinput {width: 270px;}
}

@media all and (max-width:479px) {
    #searchinput {width: 240px;}
}

@media all and (max-width:480px) {
    #topbtns {margin: 10px 0 10px 10px;}
    #instructions_div {margin: 80px 0 10px 0;}
    #feeds_form_div {margin: 80px 0 0px 0;}
}

@media all and (max-width:470px) {
    #topbar {height: 120px;}
}
